*{
    margin: 0;
    padding: 0;
}
html{
    font-family: helvetica, arial, verdana, sans-serif;
}
body{
    background: #f8f8f8;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    display: -webkit-box;
    -webkit-tap-highlight-color:transparent;
}
a:link{
    color: #051b28;
}
.container{
    background: #ffffff;
    width: 100%;
    /*margin-top: 48px;*/
    border-top: 1px solid #e4e4e4;
}

.container .today_focus{
    text-align: center;
    width: 100%;
    height: 70px;
    font-size: 26px;
    color: #767e89;
    line-height: 70px;
    background: #f8f8f8;
}
.container  .line{
    display: inline-block;
    width: 180px;
    height: 1px;
    background: #e4e4e4;
    position: relative;
    top: -8px;
}
.container .line:first-child{
    left:-20px;
}
.container .line:last-child{
    right: -20px;
}
.container .recommendation{
    border-top: 1px solid #e4e4e4;
}
.container .recommendation .header{
    color: #000000;
    font-size: 26px;
    display: block;
    margin-left: 32px;
    padding-top: 28px;
    padding-bottom: 24px;
}
.container .recommendation .header span{
    color: #f78b00;
}
.recommendation .recom_pic{
    /*width: 172px;*/
    /*height: 120px;*/
    /*margin-left: 32px;*/
    /*padding-bottom: 30px;*/
    width: 4.3rem;
    height: 3rem;
    margin-left: 0.8rem;
    padding-bottom: 0.75rem;
}
.recommendation .recomm_detail{
    margin-left: 20px;
    height: 150px;
    width: 65%;
}
.recommendation .recomm_detail .title{
    font-size: 30px;
    color: #051b28;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin: 0;
}
.recommendation .recomm_detail .title span{
    color: #f00808;
}
.recommendation .recomm_detail .sub{
    font-size: 22px;
    color: #767e89;
    margin: 0px 0 8px 0;
}
.recommendation .recomm_detail .sub .v-line{
    border-width: 0 0 0 1px;
    -webkit-border-image: url('/m/static/img/index0408/iListBorder-h.png') 0 2 stretch;
    border-image: url('/m/static/img/index0408/iListBorder-h.png') 0 2 stretch;
    margin: 0 .275rem;
    font-size: .35rem;
    line-height: .35rem;
    position: relative;
    height: .35rem;
    top: -.05rem;
}
.recommendation .recomm_detail .already{
    font-size: 22px;
    color: #767e89;
    margin-top: 15px;
}
.recommendation .recomm_detail .already .percentage{
    display: inline-block;
    width: 92px;
    height: 15px;
    border: 1px solid #ffdcdc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    left: 10px;
    background: url('/m/static/img/message_center/fill.png') no-repeat;
    background-size: 0% 15px;
    background-position: 0 0;
}

.recommendation .recomm_detail .btn{
    float: right;
    display: block;
    width: 120px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #f00808;
    font-size: 28px;
    background: #ffdcdc;
    margin-right: 22px;
    position: relative;
    top: -75px;
}

.container .special .title{
    color: #000000;
    font-size: 26px;
    display: block;
    margin-left: 32px;
    margin-right: 32px;
    padding-top: 23px;
    padding-bottom: 23px;
}
.container .special .title .forMore{
    display: inline-block;
    width: 110px;
    height: 56px;
    float: right;
}
.container .special .title span{
    color: #f78b00;
}
.container .special .title .more{
    float:right;
    color: #767e89;

}
.container .special .title .more img{
    margin-left: 16px;
    width: 10px;
    height: 18px;
}
.container .special .special_bg{
    background: url('/m/static/img/message_center/speical_bg.png') no-repeat;
    background-size: 14.4rem 100%;
    width: 14.4rem;
    height: 4.3rem;
    margin: 0 auto;
    text-align: center;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.container .special .special_bg label{
    font-size: 20px;
    color: #fff;
    position: relative;
    top: 11%;
    display: block;
    padding-bottom: 9px;
}
.container .special .special_bg span{
    color: #f8cc46;
}
.container .special .special_bg span:last-child{
    display: inline-block;
    border-left: 1px solid rgba(255,255,255,0.3);
    margin-left: 4px;
    padding-left: 12px;
}
.container .topic .title{
    color: #000000;
    font-size: 26px;
    display: block;
    margin-left: 32px;
    margin-right: 32px;
    padding-top: 56px;
    padding-bottom: 34px;
}
.container .topic .title span{
    color: #f78b00;
}
.container .topic .topic_list{
    margin-left: 32px;
    margin-right: 32px;
    padding-bottom: 58px;
    width: 14.6rem;
}
.container .topic .topic_list:last-child{
    padding-bottom: 55px;
}
.container .topic .topic_list .topic_detail{
    height: 122px;
}

.container .topic .topic_list .topic_img{
    float:left;
    width: 172px;
    height: 122px;
    margin-right: 12px;
}
.container .topic .topic_list .block{
    border: 1px solid #dfdfdf;
    font-size: 22px;
    color: #051b28;
    padding: 0.2rem 0.4rem;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    border-radius: 52px;
}
.container .topic .topic_list .join{
    float:right;
    font-size: 22px;
    color: #767e89;
}
.container .topic .topic_list .join span{
    color: #f78b00;
}
.container .topic .topic_list p{
    margin-top: 14px;
    font-size: 30px;
    color: #051b28;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}



.container .post_recom .title{
    color: #000000;
    font-size: 26px;
    display: block;
    margin-left: 32px;
    margin-right: 32px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.container .post_recom .title span{
    color: #f78b00;
}
.container .post_recom ul{
    border-bottom: 1px solid #e4e4e4;
}
.container .post_recom .topic_list{
    margin-left: 32px;
    padding-right: 32px;
    padding-top: 34px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e4e4e4;
    width: 90%;
}
.container .post_recom .topic_list:first-child{
    padding-top: 24px;
}
.container .post_recom .topic_list:last-child{
    border-bottom: 0;
}
.container .post_recom .topic_list .topic_img{
    float:left;
    width: 172px;
    height: 122px;
    margin-right: 30px;
}
.container .post_recom .topic_list .block{
    border: 1px solid #dfdfdf;
    font-size: 22px;
    color: #051b28;
    padding: 0.2rem 0.4rem;
    -webkit-border-radius: 52px;
    border-radius: 52px;
    position: relative;
    top: 6px;
}
.container .post_recom .topic_list .join{
    float:right;
    font-size: 22px;
    color: #767e89;
    position: relative;
    top: -23px;
}
.container .post_recom .topic_list .join span{
    color: #f78b00;
}
.container .post_recom .topic_list .post_link{
    width: 14.6rem;
}
.container .post_recom .topic_list p{
    margin: -12px 0 0 0;
    font-size: 30px;
    color: #051b28;
    margin-bottom: 12px;
    line-height: 44px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.container .post_recom .topic_list p a:visited{
    color: #767e89;
}
.container .post_recom .topic_list .user_info{
    font-size: 0.5rem;
    color: #767e89;
    line-height: 32px;
}
.container .post_recom .topic_list .user_info img{
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 12px;
}
.load_more{
    padding-top: 24px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 24px;
    color: #767e89;
}
