* {
  margin: 0;
  padding: 0;
}
body {
  background: #f8f8f8;
}
.container {
  background: #f8f8f8;
}
.container .header {
  background: #ffffff;
  border-bottom: 1px solid #ededed;
}
.container .header .top {
  padding-top: 0.95rem;
  display: block;
  height: 2rem;
}
.container .header .top .user_pic {
  display: inline-block;
  background: url(../image/user_pic.png) no-repeat;
  background-size: 1.9rem 2rem;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  width: 1.85rem;
  height: 1.85rem;
  margin-left: 0.8rem;
  float: left;
}
.container .header .top .user_name {
  font-size: 0.7rem;
  color: #556375;
  line-height: 2rem;
  margin-left: 0.6rem;
}
.container .header .top .date {
  float: right;
  font-size: 0.7rem;
  color: #767e89;
  line-height: 2rem;
  margin-right: 0.8rem;
}
.container .header .medal {
  width: 13.6rem;
  height: 9.75rem;
  margin: 0 auto;
  background: url(../image/medal.png) no-repeat;
  background-size: 13.6rem 13.6rem;
  background-position-y: -1.5rem;
}
.container .header .rank {
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 0.8rem;
  color: #394042;
}
.container .header .rank span {
  font-size: 1.6rem;
}
.container .header .comment {
  width: 11.75rem;
  height: 1.45rem;
  display: block;
  text-align: center;
  font-size: 0.6rem;
  line-height: 1.45rem;
  background: #f8f8f8;
  color: #8e989e;
  margin: 0 auto;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  border-radius: 0.3rem;
  margin-top: 0.25rem;
}
.container .header .index {
  margin: 0.95rem auto 0 auto;
  padding-bottom: 1.2rem;
  width: 14.4rem;
  display: block;
  text-align: center;
  font-size: 0.6rem;
  color: #767e89;
  line-height: 0.7rem;
  border-bottom: 1px solid #ededed;
}
.container .header .index .star {
  display: inline-block;
  background: url(../image/result.png) no-repeat;
  background-position: 0 0;
  background-size: 0.65rem 2.3rem;
  width: 0.65rem;
  height: 0.6rem;
  position: relative;
  top: 0.06rem;
}
.container .header .canvas_set {
  width: 100%;
  margin-top: 0.85rem;
  margin-bottom: 0.7rem;
  text-align: center;
}
.container .header .canvas_set .chart {
  display: inline-block;
}
.container .header .canvas_set .chart .daily_average_conclude {
  display: block;
  color: #767e89;
  font-size: 0.7rem;
  text-align: center;
  margin-top: -0.65rem;
}
.container .header .canvas_set .chart .daily_average_conclude span {
  display: block;
  font-size: 1.1rem;
  color: #394042;
}
.container .header .canvas_set .highest {
  display: inline-block;
  margin-left: 2.7rem;
  margin-right: 1rem;
}
.container .header .canvas_set .highest .weekly {
  height: 1.1rem;
  display: inline-block;
}
.container .header .canvas_set .highest .weekly .weekday {
  float: left;
  display: inline-block;
  width: 0.25rem;
  height: 0.25rem;
  background: #eeeeef;
  position: relative;
  margin: 0 0.08rem 0 0.08rem;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.container .header .canvas_set .highest .weekly .weekday:first-child {
  margin: 0 0.08rem 0 0;
}
.container .header .canvas_set .highest .weekly .weekday:last-child {
  margin: 0 0 0 0.08rem;
}
.container .header .canvas_set .highest .weekly .today {
  width: 0.8rem;
  height: 0.8rem;
  background: #14ba89;
  color: #ffffff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  text-align: center;
  line-height: 0.85rem;
  font-size: 0.45rem;
}
.container .header .canvas_set .highest .day {
  display: block;
  font-size: 0.7rem;
  color: #767e89;
  text-align: center;
  margin-top: 0.5rem;
}
.container .header .canvas_set .highest .day span {
  display: block;
  font-size: 1.1rem;
  color: #394042;
}
.container .second {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  margin-top: 0.6rem;
  height: 9.7rem;
  background: #ffffff;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
.container .second .title {
  display: block;
  margin-top: 0.85rem;
  margin-bottom: 1.2rem;
  font-size: 0.6rem;
  color: #394042;
}
.container .second .title span {
  color: #767e89;
}
.container .second .money {
  font-size: 1.3rem;
  color: #14ba89;
}
.container .second .money .triangle_down {
  position: relative;
  top: 0.95rem;
  left: 1.2rem;
  width: 0;
  height: 0;
  border-left: 0.16rem solid transparent;
  border-right: 0.16rem solid transparent;
  border-top: 0.25rem solid #394042;
}
.container .second .money .triangle_up {
  position: relative;
  top: -0.85rem;
  left: 1.2rem;
  width: 0;
  height: 0;
  border-left: 0.16rem solid transparent;
  border-right: 0.16rem solid transparent;
  border-bottom: 0.25rem solid #394042;
}
.container .second .money .percent {
  font-size: 0.65rem;
  color: #394042;
  position: relative;
  left: 1.55rem;
  top: -0.2rem;
}
.container .second .money .spend {
  display: block;
  font-size: 0.7rem;
  color: #556375;
  padding-bottom: 0.8rem;
}
.container .second .sub {
  border-top: 1px solid #ededed;
  height: 3rem;
}
.container .second .sub .income {
  display: inline-block;
  border-right: 1px solid #ededed;
  height: 2.4rem;
  width: 7.55rem;
  padding-top: 0.5rem;
  font-size: 0.7rem;
  color: #556375;
}
.container .second .sub .income span {
  display: block;
  font-size: 0.9rem;
  color: #f2635c;
}
.container .second .sub .total {
  position: relative;
  left: 0.8rem;
  display: inline-block;
  padding-top: 0.5rem;
  font-size: 0.7rem;
  color: #556375;
}
.container .second .sub .total span {
  display: block;
  font-size: 0.9rem;
  color: #394042;
}
.container .third {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  margin-top: 0.5rem;
  height: 10.7rem;
  background: #ffffff;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
.container .third .title {
  display: block;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  font-size: 0.6rem;
  color: #394042;
}
.container .third .title span {
  color: #767e89;
}
.container .third .circle {
  display: inline-block;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  margin: 0 auto;
  text-align: center;
}
.container .third .circle label {
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 0.6rem;
}
.container .third .circle label .amount {
  display: block;
  font-size: 1.2rem;
}
.container .third .circle label .amount span {
  font-size: 0.6rem;
}
.container .third .circle:nth-child(2) {
  width: 3.7rem;
  height: 3.7rem;
  background: rgba(230, 195, 4, 0.12);
  position: relative;
  top: 1rem;
  left: 1.5rem;
}
.container .third .circle:nth-child(2) label {
  color: #e6c304;
}
.container .third .circle:nth-child(3) {
  width: 6.35rem;
  height: 6.35rem;
  background: rgba(238, 58, 0, 0.12);
  position: relative;
  top: 1.45rem;
}
.container .third .circle:nth-child(3) label {
  color: #ee3a00;
}
.container .third .circle:nth-child(4) {
  width: 4.85rem;
  height: 4.85rem;
  position: relative;
  background: rgba(39, 153, 253, 0.12);
  top: -5.85rem;
  float: right;
  left: -1.2rem;
}
.container .third .circle:nth-child(4) label {
  color: #2799fd;
}
.container .fourth {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  margin-top: 0.5rem;
  height: 11.6rem;
  background: #ffffff;
  text-align: center;
}
.container .fourth .title {
  float: left;
  display: block;
  margin-top: 0.6rem;
  margin-left: 0.8rem;
  margin-bottom: 0.3rem;
  font-size: 0.6rem;
  color: #394042;
}
.container .fourth .title span {
  color: #767e89;
}
